a {
    text-decoration: none;
    color: black;
}

body {
    background-color: 	#eff1f6;

}

.p {
    color : #464B55;
}

#right {
    width: 80%;
    font-family: 'Noto Serif KR', serif;
    position: absolute;
}

#resume {
    width : 1000px;
}

.s {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

td {
    padding-top: 30px;
}

.pyoC {
    padding-left: 30px;
}